# ignore all files with the data directory
data/*

# ignore cache files
__pycache__
configuration.env
tensorboard_logs
PASCAL_VOC/*
KITTI/*
KITTI_YOLO/*
checkpoint1.pth.tar
checkpoint2.pth.tar
checkpointv2.pth.tar
checkpoint2.pth.tar
yolov3.weights
YOLOV3_MSCOCO_Orignal.pth.tar

project.fls
project.log

project.aux
project.bbl
project.fls
project.fdb_latexmk
project.blg
cvpr_eso.sty

project.pdf

result_pred/*